version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=tinyuser
      - POSTGRES_PASSWORD=tinypassword
      - POSTGRES_DB=tinymetrics
    ports:
      - "5432:5432"

volumes:
  postgres_data: